.viewHome {
    /* height: 100vh; */
    width: 100%;
    object-fit: contain;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: transparent;
    position: absolute;
    z-index: 1;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.logo {
    width: 10%;
    height: 10%;
    font-size: 29px;
    padding: 20px 20px 20px 20px;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: start;
    justify-items: center;
    padding: 20px 20px 20px 20px;
}

.options a {
    text-decoration: none;
    color: black;
}

.options a > img {
    width: 76%;
}

.options a > p {
    margin-top: 5px;
}

.picCaption {
    position: absolute;
    text-align: center;
    z-index: 999;
    max-height: 100%;
    overflow: hidden;
    bottom: 0;
    top: 0;
}

.count {
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    margin-left: 50%;

}
